In [1]:
import pandas as pd
import numpy as np
import cpi

C:\Users\emrey\Anaconda3\envs\PythonData\lib\site-packages\cpi\__init__.py:46: StaleDataWarning: CPI data is out of date. To accurately inflate to today's dollars, you must run `cpi.update()`.
  warnings.warn(StaleDataWarning())

In [2]:
acs2017=pd.read_csv('ACS_13-17.csv',encoding="latin-1",skiprows=1)
acs2017['Year']="2013-2017"
acs2012=pd.read_csv('ACS_08-12.csv',encoding="latin-1",skiprows=1)
acs2012["Year"]="2008-2012"

acsdata=pd.merge(acs2017,acs2012,how="outer")
acsdata=acsdata.rename(columns={
    "Id2":"FIPS",
    "Estimate; Total:":"Total_pop"
})

acsdata = acsdata[acsdata.columns.drop(list(acsdata.filter(regex='Margin of Error')))]
acsdata.count()
acs=acsdata.set_index('FIPS')
acs=acs.iloc[:,2:40]

acs.columns = [col.replace('Estimate; Total: - ', 'Total: ') for col in acs.columns]
acs.columns = [col.replace('Less than high school graduate', 'less_HS') for col in acs.columns]
acs.columns = [col.replace('High school graduate (includes equivalency)', 'HS') for col in acs.columns]
acs.columns = [col.replace("Some college or associate's degree", 'some_college') for col in acs.columns]
acs.columns = [col.replace("Bachelor's degree", 'Bach') for col in acs.columns]
acs.columns = [col.replace("Graduate or professional degree", 'Grad') for col in acs.columns]
acs.columns = [col.replace("Total: ", 'Total_') for col in acs.columns]

acs["Total_Settled"]=acs["Total_Same house 1 year ago:"]+acs["Total_Moved within same county:"]
acs["Settled_less_HS"]=acs["Total_Same house 1 year ago: - less_HS"]+acs["Total_Moved within same county: - less_HS"]
acs["Settled_HS"]=acs["Total_Same house 1 year ago: - HS"]+acs["Total_Moved within same county: - HS"]
acs["Settled_some_college"]=acs["Total_Same house 1 year ago: - some_college"]+acs["Total_Moved within same county: - some_college"]
acs["Settled_Bach"]=acs["Total_Same house 1 year ago: - Bach"]+acs["Total_Moved within same county: - Bach"]
acs["Settled_Grad"]=acs["Total_Same house 1 year ago: - Grad"]+acs["Total_Moved within same county: - Grad"]
acs["Total_Moved"]=acs["Total_Moved from different county within same state:"]+acs["Total_Moved from different state:"]+acs["Total_Moved from abroad:"]
acs["Moved_less_HS"]=acs["Total_Moved from different county within same state: - less_HS"]+acs["Total_Moved from different state: - less_HS"]+acs["Total_Moved from abroad: - less_HS"]
acs["Moved_HS"]=acs["Total_Moved from different county within same state: - HS"]+acs["Total_Moved from different state: - HS"]+acs["Total_Moved from abroad: - HS"]
acs["Moved_some_college"]=acs["Total_Moved from different county within same state: - some_college"]+acs["Total_Moved from different state: - some_college"]+acs["Total_Moved from abroad: - some_college"]
acs["Moved_Bach"]=acs["Total_Moved from different county within same state: - Bach"]+acs["Total_Moved from different state: - Bach"]+acs["Total_Moved from abroad: - Bach"]
acs["Moved_Grad"]=acs["Total_Moved from different county within same state: - Grad"]+acs["Total_Moved from different state: - Grad"]+acs["Total_Moved from abroad: - Grad"]

acs=acs.drop(columns={
    "Total_Same house 1 year ago:",
    "Total_Moved within same county:",
    "Total_Same house 1 year ago: - less_HS",
    "Total_Moved within same county: - less_HS",
    "Total_Same house 1 year ago: - HS",
    "Total_Moved within same county: - HS",
    "Total_Same house 1 year ago: - some_college",
    "Total_Moved within same county: - some_college",
    "Total_Same house 1 year ago: - Bach",
    "Total_Moved within same county: - Bach",
    "Total_Same house 1 year ago: - Grad",
    "Total_Moved within same county: - Grad",
    "Total_Moved from different county within same state:",
    "Total_Moved from different state:",
    "Total_Moved from abroad:",
    "Total_Moved from different county within same state: - less_HS",
    "Total_Moved from different state: - less_HS",
    "Total_Moved from abroad: - less_HS",
    "Total_Moved from different county within same state: - HS",
    "Total_Moved from different state: - HS",
    "Total_Moved from abroad: - HS",
    "Total_Moved from different county within same state: - some_college",
    "Total_Moved from different state: - some_college",
    "Total_Moved from abroad: - some_college",
    "Total_Moved from different county within same state: - Bach",
    "Total_Moved from different state: - Bach",
    "Total_Moved from abroad: - Bach"
})
acs=acs.drop(columns={
    "Total_Moved from different county within same state: - Grad",
    "Total_Moved from different state: - Grad",
    "Total_Moved from abroad: - Grad"
})
acs.head()

,Total_pop,Total_less_HS,Total_HS,Total_some_college,Total_Bach,Total_Grad,Year,Total_Settled,Settled_less_HS,Settled_HS,Settled_some_college,Settled_Bach,Settled_Grad,Total_Moved,Moved_less_HS,Moved_HS,Moved_some_college,Moved_Bach,Moved_Grad
FIPS,,,,,,,,,,,,,,,,,,,
1001,36757,4521,12363,10697,5316,3860,2013-2017,34037,4261,11864,9970,4787,3155,2720,260,499,727,529,705
1003,143022,13997,39771,45286,29237,14731,2013-2017,136065,13326,37886,43302,27724,13827,6957,671,1885,1984,1513,904
1005,18434,4960,6549,4707,1403,815,2013-2017,17626,4700,6277,4501,1343,805,808,260,272,206,60,10
1007,15859,2833,6958,3971,1289,808,2013-2017,14407,2469,6420,3536,1177,805,1452,364,538,435,112,3
1009,39475,7980,12740,13583,3416,1756,2013-2017,37933,7595,12133,13369,3215,1621,1542,385,607,214,201,135

In [3]:
new = pd.read_csv('hpi_county.csv')
new = new.rename(columns={
    'FIPS code':'FIPS',
    "HPI with 1990 base":"HPI_1990",
    "HPI with 2000 base":"HPI_2000",
    "Annual Change (%)":"Ann_Change_%"
})
new=new.loc[new["HPI"]!="."]
new=new.loc[new["HPI_1990"]!="."]
new=new.loc[new["HPI_2000"]!="."]
new=new.loc[new["Ann_Change_%"]!="."]
new['HPI_1990']=new['HPI_1990'].replace('.', None).astype(float)
new['HPI_2000']=new['HPI_2000'].replace('.', None).astype(float)
new['Ann_Change_%']=new['Ann_Change_%'].replace('.', None).astype(float)
new['HPI']=new['HPI'].replace('.', None).astype(float)
new['FIPS']=new['FIPS'].astype(object)
new.head()

  State   County  FIPS  Year  Ann_Change_%     HPI  HPI_1990  HPI_2000
1    AL  Autauga  1001  1987         -2.31   97.69     93.16     69.27
2    AL  Autauga  1001  1988          3.36  100.97     96.29     71.60
3    AL  Autauga  1001  1989          4.26  105.27    100.40     74.65
4    AL  Autauga  1001  1990         -0.40  104.86    100.00     74.35
5    AL  Autauga  1001  1991          2.68  107.67    102.68     76.35

24746.571943553943

In [5]:
new['HPI_adj'] = new.apply(lambda x: cpi.inflate(x.HPI, x.Year), axis=1)
new['HPI_2000_adj'] = new.apply(lambda x: cpi.inflate(x.HPI_2000, x.Year), axis=1)
new['HPI_1990_adj'] = new.apply(lambda x: cpi.inflate(x.HPI_1990, x.Year), axis=1)

In [6]:
melted_HPI = pd.melt(new, 
        id_vars=['State','County','FIPS','Year'], 
        value_vars=['Ann_Change_%', 'HPI', 'HPI_1990',
       'HPI_2000', 'HPI_adj', 'HPI_2000_adj', 'HPI_1990_adj'])
# melted_HPI = melted_HPI.loc[(melted_HPI["Year"]>2007)&(melted_HPI["Year"]<2018)]

In [7]:
melted_HPI = pd.merge(melted_HPI,acs,how="left",on="FIPS")
melted_HPI.head()

,State,County,FIPS,Year_x,variable,value,Total_pop,Total_less_HS,Total_HS,Total_some_college,...,Settled_HS,Settled_some_college,Settled_Bach,Settled_Grad,Total_Moved,Moved_less_HS,Moved_HS,Moved_some_college,Moved_Bach,Moved_Grad
0,AL,Autauga,1001,1987,Ann_Change_%,-2.31,36757,4521,12363,10697,...,11864,9970,4787,3155,2720,260,499,727,529,705
1,AL,Autauga,1001,1987,Ann_Change_%,-2.31,35144,5232,11874,10409,...,11376,9743,4766,2291,1916,180,498,666,319,253
2,AL,Autauga,1001,1988,Ann_Change_%,3.36,36757,4521,12363,10697,...,11864,9970,4787,3155,2720,260,499,727,529,705
3,AL,Autauga,1001,1988,Ann_Change_%,3.36,35144,5232,11874,10409,...,11376,9743,4766,2291,1916,180,498,666,319,253
4,AL,Autauga,1001,1989,Ann_Change_%,4.26,36757,4521,12363,10697,...,11864,9970,4787,3155,2720,260,499,727,529,705

In [8]:
binned_df = new.loc[(new["Year"]>2007)&(new["Year"]<2018)]
binned_df=binned_df.groupby([binned_df.FIPS,binned_df.County,binned_df.State,pd.cut(binned_df.Year,[2007,2012,2017]).astype(str)])[['HPI','HPI_1990','HPI_2000','Ann_Change_%','HPI_adj','HPI_1990_adj','HPI_2000_adj']].mean().reset_index()
binned_df['Year_Bin'] = np.where(binned_df['Year']=="(2007, 2012]", '2008-2012', '2013-2017')

In [9]:
merged = pd.merge(binned_df,acs,how='left',left_on=['Year_Bin',"FIPS"],right_on=["Year",'FIPS'])

In [10]:
merged["Years_Education_Settled"]=\
    (merged["Settled_less_HS"]/merged["Total_Settled"])*11+\
    (merged["Settled_HS"]/merged["Total_Settled"])*12+\
    (merged["Settled_some_college"]/merged["Total_Settled"])*14+\
    (merged["Settled_Bach"]/merged["Total_Settled"])*16+\
    (merged["Settled_Grad"]/merged["Total_Settled"])*22

merged["Years_Education_Moved"]=\
    (merged["Moved_less_HS"]/merged["Total_Moved"])*11+\
    (merged["Moved_HS"]/merged["Total_Moved"])*12+\
    (merged["Moved_some_college"]/merged["Total_Moved"])*14+\
    (merged["Moved_Bach"]/merged["Total_Moved"])*16+\
    (merged["Moved_Grad"]/merged["Total_Moved"])*22

merged["Moved_Ratio"]=merged["Total_Moved"]/merged["Total_pop"]
merged["Moved_Settled_Ratio"]=merged["Total_Moved"]/merged["Total_Settled"]
merged["Grad_Bach_Ratio"]=merged["Total_Grad"]/merged["Total_Bach"]
merged["College_Ratio"]=(merged["Total_Bach"]+merged["Total_Grad"])/merged["Total_pop"]
merged["Grad_Ratio_Moved"]=merged["Moved_Grad"]/merged["Total_Moved"]
merged["Years_Edu_Moved_Minus_Settled"]=merged["Years_Education_Moved"]-merged["Years_Education_Settled"]
merged["Total_Grad_Ratio"]=merged["Total_Grad"]/merged["Total_pop"]
merged["Total_Bach_Ratio"]=merged["Total_Bach"]/merged["Total_pop"]
merged.head()

,FIPS,County,State,Year_x,HPI,HPI_1990,HPI_2000,Ann_Change_%,HPI_adj,HPI_1990_adj,...,Years_Education_Settled,Years_Education_Moved,Moved_Ratio,Moved_Settled_Ratio,Grad_Bach_Ratio,College_Ratio,Grad_Ratio_Moved,Years_Edu_Moved_Minus_Settled,Total_Grad_Ratio,Total_Bach_Ratio
0,1001,Autauga,AL,"(2007, 2012]",178.686,170.408,126.708,-2.126,203.838247,194.395087,...,13.697604,14.587683,0.054519,0.057662,0.500295,0.217078,0.132046,0.890078,0.072388,0.144690
1,1001,Autauga,AL,"(2012, 2017]",173.678,165.632,123.158,1.284,182.949335,174.473813,...,13.950142,15.808824,0.074000,0.079913,0.726110,0.249640,0.259191,1.858681,0.105014,0.144626
2,1003,Baldwin,AL,"(2007, 2012]",310.612,213.566,129.184,-6.074,354.870404,243.996561,...,14.177111,14.081774,0.070142,0.075433,0.480998,0.277416,0.084799,-0.095336,0.090099,0.187317
3,1003,Baldwin,AL,"(2012, 2017]",317.328,218.186,131.978,4.728,333.976706,229.633176,...,14.369779,14.643237,0.048643,0.051130,0.503848,0.307421,0.129941,0.273458,0.102998,0.204423
4,1005,Barbour,AL,"(2007, 2012]",232.692,207.264,129.694,-1.382,265.420653,236.416125,...,13.279301,12.323703,0.089348,0.098114,0.709237,0.145243,0.020047,-0.955598,0.060268,0.084975

In [11]:
tech=pd.read_csv('tech_industry.csv',encoding="latin-1",skiprows=1)
tech.columns

Index(['Geographic identifier code', 'Id2', 'Geographic area name', 'Id',
       '2012 NAICS code', 'Meaning of 2012 NAICS code', 'Id.1', 'Year',
       'Number of establishments',
       'Paid employees for pay period including March 12 (number)',
       'First-quarter payroll ($1,000)', 'Annual payroll ($1,000)'],
      dtype='object')

In [12]:
totals=tech.loc[tech["2012 NAICS code"]==0]
totals=totals.rename(columns={
    "Paid employees for pay period including March 12 (number)":"Total_Employees",
    "Id2":"FIPS",
    "Number of establishments":"Total_Establishments"
})
totals=totals.drop(columns={
    "Geographic area name","Geographic identifier code","Id","2012 NAICS code","Meaning of 2012 NAICS code","Year","Id.1","First-quarter payroll ($1,000)","Annual payroll ($1,000)"
})
totals.head()

    FIPS  Total_Establishments  Total_Employees
0   1001                   851          10790.0
3   1003                  5235          61341.0
6   1005                   452           6857.0
9   1007                   290           3387.0
12  1009                   675           6286.0

In [13]:
counties=tech.loc[tech["2012 NAICS code"]!=0]
counties=counties.groupby(by="Id2").sum()

counties=counties.drop(columns={
    "Id","2012 NAICS code","Id.1","Year","First-quarter payroll ($1,000)","Annual payroll ($1,000)"
})
counties=counties.reset_index()
counties=counties.rename(columns={
    "Paid employees for pay period including March 12 (number)":"Tech_Employees",
        "Id2":"FIPS",
    "Number of establishments":"Tech_Establishments"
})
counties.head()

   FIPS  Tech_Establishments  Tech_Employees
0  1001                   63           350.0
1  1003                  533          2752.0
2  1005                   37           145.0
3  1007                   18           130.0
4  1009                   50           274.0

In [14]:
tech_industry = pd.merge(totals,counties,how="left",on="FIPS")
tech_industry.head()
tech_industry["Tech_Establishments_Share"]=tech_industry["Tech_Establishments"]/tech_industry["Total_Establishments"]
tech_industry["Tech_Employees_Share"]=tech_industry["Tech_Employees"]/tech_industry["Total_Employees"]

In [15]:
melted_HPI=pd.merge(melted_HPI,tech_industry,how="left",on="FIPS")
melted_HPI.head()

,State,County,FIPS,Year_x,variable,value,Total_pop,Total_less_HS,Total_HS,Total_some_college,...,Moved_HS,Moved_some_college,Moved_Bach,Moved_Grad,Total_Establishments,Total_Employees,Tech_Establishments,Tech_Employees,Tech_Establishments_Share,Tech_Employees_Share
0,AL,Autauga,1001,1987,Ann_Change_%,-2.31,36757,4521,12363,10697,...,499,727,529,705,851,10790.0,63.0,350.0,0.074031,0.032437
1,AL,Autauga,1001,1987,Ann_Change_%,-2.31,35144,5232,11874,10409,...,498,666,319,253,851,10790.0,63.0,350.0,0.074031,0.032437
2,AL,Autauga,1001,1988,Ann_Change_%,3.36,36757,4521,12363,10697,...,499,727,529,705,851,10790.0,63.0,350.0,0.074031,0.032437
3,AL,Autauga,1001,1988,Ann_Change_%,3.36,35144,5232,11874,10409,...,498,666,319,253,851,10790.0,63.0,350.0,0.074031,0.032437
4,AL,Autauga,1001,1989,Ann_Change_%,4.26,36757,4521,12363,10697,...,499,727,529,705,851,10790.0,63.0,350.0,0.074031,0.032437

In [16]:
melted_HPI["Years_Education_Settled"]=\
    (melted_HPI["Settled_less_HS"]/melted_HPI["Total_Settled"])*11+\
    (melted_HPI["Settled_HS"]/melted_HPI["Total_Settled"])*12+\
    (melted_HPI["Settled_some_college"]/melted_HPI["Total_Settled"])*14+\
    (melted_HPI["Settled_Bach"]/melted_HPI["Total_Settled"])*16+\
    (melted_HPI["Settled_Grad"]/melted_HPI["Total_Settled"])*22

melted_HPI["Years_Education_Moved"]=\
    (melted_HPI["Moved_less_HS"]/melted_HPI["Total_Moved"])*11+\
    (melted_HPI["Moved_HS"]/melted_HPI["Total_Moved"])*12+\
    (melted_HPI["Moved_some_college"]/melted_HPI["Total_Moved"])*14+\
    (melted_HPI["Moved_Bach"]/melted_HPI["Total_Moved"])*16+\
    (melted_HPI["Moved_Grad"]/melted_HPI["Total_Moved"])*22

melted_HPI["Moved_Ratio"]=melted_HPI["Total_Moved"]/melted_HPI["Total_pop"]
melted_HPI["Moved_Settled_Ratio"]=melted_HPI["Total_Moved"]/melted_HPI["Total_Settled"]
melted_HPI["Grad_Bach_Ratio"]=melted_HPI["Total_Grad"]/melted_HPI["Total_Bach"]
melted_HPI["College_Ratio"]=(melted_HPI["Total_Bach"]+melted_HPI["Total_Grad"])/melted_HPI["Total_pop"]
melted_HPI["Grad_Ratio_Moved"]=melted_HPI["Moved_Grad"]/melted_HPI["Total_Moved"]
melted_HPI["Years_Edu_Moved_Minus_Settled"]=melted_HPI["Years_Education_Moved"]-melted_HPI["Years_Education_Settled"]
melted_HPI["Total_Grad_Ratio"]=melted_HPI["Total_Grad"]/melted_HPI["Total_pop"]
melted_HPI["Total_Bach_Ratio"]=melted_HPI["Total_Bach"]/melted_HPI["Total_pop"]
melted_HPI.head()

,State,County,FIPS,Year_x,variable,value,Total_pop,Total_less_HS,Total_HS,Total_some_college,...,Years_Education_Settled,Years_Education_Moved,Moved_Ratio,Moved_Settled_Ratio,Grad_Bach_Ratio,College_Ratio,Grad_Ratio_Moved,Years_Edu_Moved_Minus_Settled,Total_Grad_Ratio,Total_Bach_Ratio
0,AL,Autauga,1001,1987,Ann_Change_%,-2.31,36757,4521,12363,10697,...,13.950142,15.808824,0.074000,0.079913,0.726110,0.249640,0.259191,1.858681,0.105014,0.144626
1,AL,Autauga,1001,1987,Ann_Change_%,-2.31,35144,5232,11874,10409,...,13.697604,14.587683,0.054519,0.057662,0.500295,0.217078,0.132046,0.890078,0.072388,0.144690
2,AL,Autauga,1001,1988,Ann_Change_%,3.36,36757,4521,12363,10697,...,13.950142,15.808824,0.074000,0.079913,0.726110,0.249640,0.259191,1.858681,0.105014,0.144626
3,AL,Autauga,1001,1988,Ann_Change_%,3.36,35144,5232,11874,10409,...,13.697604,14.587683,0.054519,0.057662,0.500295,0.217078,0.132046,0.890078,0.072388,0.144690
4,AL,Autauga,1001,1989,Ann_Change_%,4.26,36757,4521,12363,10697,...,13.950142,15.808824,0.074000,0.079913,0.726110,0.249640,0.259191,1.858681,0.105014,0.144626

In [17]:
melted_HPI.to_csv("HPI_adj_inflation.csv", index=False)

In [18]:
merged=pd.merge(merged,tech_industry,how="left",on="FIPS")
merged.columns

Index(['FIPS', 'County', 'State', 'Year_x', 'HPI', 'HPI_1990', 'HPI_2000',
       'Ann_Change_%', 'HPI_adj', 'HPI_1990_adj', 'HPI_2000_adj', 'Year_Bin',
       'Total_pop', 'Total_less_HS', 'Total_HS', 'Total_some_college',
       'Total_Bach', 'Total_Grad', 'Year_y', 'Total_Settled',
       'Settled_less_HS', 'Settled_HS', 'Settled_some_college', 'Settled_Bach',
       'Settled_Grad', 'Total_Moved', 'Moved_less_HS', 'Moved_HS',
       'Moved_some_college', 'Moved_Bach', 'Moved_Grad',
       'Years_Education_Settled', 'Years_Education_Moved', 'Moved_Ratio',
       'Moved_Settled_Ratio', 'Grad_Bach_Ratio', 'College_Ratio',
       'Grad_Ratio_Moved', 'Years_Edu_Moved_Minus_Settled', 'Total_Grad_Ratio',
       'Total_Bach_Ratio', 'Total_Establishments', 'Total_Employees',
       'Tech_Establishments', 'Tech_Employees', 'Tech_Establishments_Share',
       'Tech_Employees_Share'],
      dtype='object')

In [19]:
final_data=merged.drop(columns={
    'County','Year_x', 'HPI', 'HPI_1990', 'HPI_2000',
       'Ann_Change_%', "Year_y",'Total_pop', 'Total_less_HS', 'Total_HS', 'Total_some_college',
       'Total_Bach', 'Total_Grad', 'Total_Settled', 'Settled_less_HS',
       'Settled_HS', 'Settled_some_college', 'Settled_Bach', 'Settled_Grad',
       'Total_Moved', 'Moved_less_HS', 'Moved_HS', 'Moved_some_college',
       'Moved_Bach', 'Moved_Grad','Total_Employees', 'Tech_Employees',"Tech_Establishments","Total_Establishments","Year_Bin"
})

In [20]:
data_binary_encoded = pd.get_dummies(final_data)
data_binary_encoded

,FIPS,HPI_adj,HPI_1990_adj,HPI_2000_adj,Years_Education_Settled,Years_Education_Moved,Moved_Ratio,Moved_Settled_Ratio,Grad_Bach_Ratio,College_Ratio,...,State_SD,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_WY
0,1001,203.838247,194.395087,144.543667,13.697604,14.587683,0.054519,0.057662,0.500295,0.217078,...,0,0,0,0,0,0,0,0,0,0
1,1001,182.949335,174.473813,129.732463,13.950142,15.808824,0.074000,0.079913,0.726110,0.249640,...,0,0,0,0,0,0,0,0,0,0
2,1003,354.870404,243.996561,147.591076,14.177111,14.081774,0.070142,0.075433,0.480998,0.277416,...,0,0,0,0,0,0,0,0,0,0
3,1003,333.976706,229.633176,138.902296,14.369779,14.643237,0.048643,0.051130,0.503848,0.307421,...,0,0,0,0,0,0,0,0,0,0
4,1005,265.420653,236.416125,147.935758,13.279301,12.323703,0.089348,0.098114,0.709237,0.145243,...,0,0,0,0,0,0,0,0,0,0
5,1005,224.656915,200.108677,125.216748,13.005560,12.608911,0.043832,0.045841,0.580898,0.120321,...,0,0,0,0,0,0,0,0,0,0
6,1015,316.713219,191.764886,146.097681,13.388460,13.089259,0.042923,0.044848,0.601839,0.160198,...,0,0,0,0,0,0,0,0,0,0
7,1015,275.750546,166.959842,127.204148,13.660641,13.803581,0.045255,0.047400,0.744068,0.178702,...,0,0,0,0,0,0,0,0,0,0
8,1017,219.354545,187.483304,140.504131,12.923036,13.620928,0.042886,0.044807,0.498274,0.110241,...,0,0,0,0,0,0,0,0,0,0
9,1017,193.243533,165.166521,123.776940,13.169273,13.504496,0.042240,0.044103,0.481933,0.133260,...,0,0,0,0,0,0,0,0,0,0
10,1025,228.836762,221.644915,155.262887,13.021095,14.372917,0.027884,0.028684,0.580622,0.126990,...,0,0,0,0,0,0,0,0,0,0
11,1025,207.370274,200.844286,140.692572,13.080854,13.514368,0.020566,0.020998,0.542194,0.129602,...,0,0,0,0,0,0,0,0,0,0
12,1031,205.168031,207.254416,164.276673,13.789693,14.277656,0.081715,0.088986,0.615895,0.225777,...,0,0,0,0,0,0,0,0,0,0
13,1031,181.358029,183.199688,145.209931,13.886277,14.127867,0.082854,0.090338,0.541186,0.226768,...,0,0,0,0,0,0,0,0,0,0
14,1033,226.659669,192.825252,144.203381,13.545814,13.290544,0.053801,0.056860,0.513938,0.180383,...,0,0,0,0,0,0,0,0,0,0
15,1033,212.443705,180.726594,135.157371,13.648220,13.844518,0.039169,0.040766,0.636839,0.187570,...,0,0,0,0,0,0,0,0,0,0
16,1047,181.981649,179.228784,137.692778,13.155120,12.768103,0.039091,0.040682,0.660571,0.133398,...,0,0,0,0,0,0,0,0,0,0
17,1047,164.371415,161.877902,124.367265,13.376591,12.783865,0.037394,0.038847,0.746447,0.141867,...,0,0,0,0,0,0,0,0,0,0
18,1051,203.258980,203.258980,146.255714,13.812513,13.215707,0.088981,0.097672,0.526703,0.211076,...,0,0,0,0,0,0,0,0,0,0
19,1051,180.713104,180.713104,130.030049,13.891259,13.643274,0.080683,0.087764,0.581987,0.228463,...,0,0,0,0,0,0,0,0,0,0
20,1053,233.461888,216.790666,157.043641,13.072894,12.419825,0.052307,0.055193,0.480778,0.121883,...,0,0,0,0,0,0,0,0,0,0
21,1053,206.863701,192.093120,139.151791,13.071528,13.074847,0.031472,0.032495,0.608384,0.121486,...,0,0,0,0,0,0,0,0,0,0
22,1055,245.795451,212.222964,144.227248,13.449078,13.215840,0.046342,0.048593,0.581022,0.151717,...,0,0,0,0,0,0,0,0,0,0
23,1055,222.464990,192.083607,130.536926,13.563026,13.747365,0.044965,0.047082,0.629993,0.168918,...,0,0,0,0,0,0,0,0,0,0
24,1069,307.632218,190.269663,146.512189,13.602799,13.756250,0.046911,0.049219,0.557690,0.192568,...,0,0,0,0,0,0,0,0,0,0
25,1069,271.822774,168.120576,129.460274,13.782339,14.245819,0.044485,0.046556,0.582395,0.209200,...,0,0,0,0,0,0,0,0,0,0
26,1073,429.506979,209.141169,142.585512,14.310596,14.687345,0.041151,0.042917,0.617305,0.292835,...,0,0,0,0,0,0,0,0,0,0
27,1073,398.079189,193.833310,132.149081,14.513930,14.962990,0.042792,0.044705,0.642594,0.319158,...,0,0,0,0,0,0,0,0,0,0
28,1077,226.100276,192.154621,145.778124,13.760834,13.636332,0.045238,0.047382,0.600935,0.218676,...,0,0,0,0,0,0,0,0,0,0
29,1077,216.015874,183.580774,139.274978,13.843321,13.883544,0.053967,0.057046,0.633754,0.225272,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2824,55133,532.572514,230.662476,146.717031,14.916018,15.150852,0.047740,0.050133,0.490045,0.394359,...,0,0,0,0,0,0,0,1,0,0
2825,55133,494.595043,214.210765,136.253347,15.118966,15.666367,0.048020,0.050443,0.518310,0.429167,...,0,0,0,0,0,0,0,1,0,0
2826,55135,268.109730,240.151530,136.553388,13.384817,13.334385,0.042845,0.044763,0.400801,0.160702,...,0,0,0,0,0,0,0,1,0,0
2827,55135,240.617679,215.525336,122.550332,13.546515,13.775843,0.049562,0.052146,0.367184,0.185142,...,0,0,0,0,0,0,0,1,0,0
2828,55139,407.819488,206.446172,136.589104,13.974770,14.182825,0.048558,0.051036,0.445681,0.250473,...,0,0,0,0,0,0,0,1,0,0
2829,55139,375.418496,190.044839,125.736187,14.085993,14.272221,0.061680,0.065735,0.397875,0.273254,...,0,0,0,0,0,0,0,1,0,0
2830,55141,406.207759,212.814688,142.874455,13.663180,14.245444,0.033620,0.034789,0.526513,0.186843,...,0,0,0,0,0,0,0,1,0,0
2831,55141,367.389537,192.476955,129.222511,13.888040,14.239880,0.038473,0.040013,0.576354,0.210979,...,0,0,0,0,0,0,0,1,0,0
2832,56001,601.059471,310.651918,178.136114,15.870630,15.103158,0.097471,0.107997,0.798695,0.480839,...,0,0,0,0,0,0,0,0,0,1
2833,56001,576.014609,297.703056,170.712714,15.874561,15.398425,0.060751,0.064680,0.757729,0.497680,...,0,0,0,0,0,0,0,0,0,1
2834,56005,368.722869,307.234420,198.972821,13.678499,13.662047,0.065636,0.070246,0.350882,0.182248,...,0,0,0,0,0,0,0,0,0,1
2835,56005,329.321132,274.406535,177.711034,13.679852,13.471220,0.067290,0.072145,0.322082,0.185130,...,0,0,0,0,0,0,0,0,0,1
2836,56007,392.068069,339.378627,205.375192,13.712973,12.989485,0.087601,0.096012,0.503195,0.173360,...,0,0,0,0,0,0,0,0,0,1
2837,56007,419.989627,363.544676,220.005052,13.802058,14.018868,0.059752,0.063549,0.383323,0.208850,...,0,0,0,0,0,0,0,0,0,1
2838,56013,422.796759,393.034512,204.526115,14.078485,13.748295,0.055235,0.058465,0.544996,0.219283,...,0,0,0,0,0,0,0,0,0,1
2839,56013,405.531005,376.984897,196.175756,14.039679,13.852868,0.059893,0.063709,0.498557,0.232665,...,0,0,0,0,0,0,0,0,0,1
2840,56021,563.121878,261.240586,168.193026,14.180795,14.517009,0.054093,0.057186,0.530679,0.241521,...,0,0,0,0,0,0,0,0,0,1
2841,56021,583.142925,270.527802,174.171040,14.507212,14.592467,0.067586,0.072485,0.604997,0.286707,...,0,0,0,0,0,0,0,0,0,1
2842,56025,466.275115,385.833925,213.526636,14.038730,14.313035,0.058049,0.061626,0.504755,0.219943,...,0,0,0,0,0,0,0,0,0,1
2843,56025,474.865448,392.944152,217.462276,14.091379,14.493784,0.047334,0.049685,0.533762,0.228062,...,0,0,0,0,0,0,0,0,0,1
2844,56029,299.303694,308.190323,192.729027,14.394570,14.441578,0.066535,0.071278,0.550757,0.284568,...,0,0,0,0,0,0,0,0,0,1
2845,56029,293.466727,302.175974,188.969798,14.728320,14.794318,0.042578,0.044471,0.682496,0.322286,...,0,0,0,0,0,0,0,0,0,1
2846,56033,344.726803,400.306848,209.225060,14.192454,14.405211,0.054682,0.057845,0.465017,0.253071,...,0,0,0,0,0,0,0,0,0,1
2847,56033,320.639595,372.337021,194.605691,14.770499,15.249080,0.038677,0.040233,0.707848,0.312927,...,0,0,0,0,0,0,0,0,0,1
2848,56037,560.344736,284.634831,196.742446,13.594686,13.759978,0.065400,0.069977,0.372440,0.170062,...,0,0,0,0,0,0,0,0,0,1
2849,56037,544.119481,276.394021,191.044409,13.929673,13.844215,0.054485,0.057625,0.450322,0.222097,...,0,0,0,0,0,0,0,0,0,1
2850,56039,683.936198,494.179946,198.149484,15.285138,14.165242,0.022340,0.022850,0.422395,0.489944,...,0,0,0,0,0,0,0,0,0,1
2851,56039,711.155618,513.847541,206.036106,15.689049,15.422836,0.093721,0.103412,0.436710,0.541216,...,0,0,0,0,0,0,0,0,0,1
2852,56041,243.859890,362.211925,206.410234,13.604196,13.990148,0.062160,0.066280,0.400822,0.182730,...,0,0,0,0,0,0,0,0,0,1
2853,56041,220.884277,328.081889,186.959322,13.660891,14.073099,0.052705,0.055637,0.459302,0.174064,...,0,0,0,0,0,0,0,0,0,1

In [21]:
# data_binary_encoded=data_binary_encoded.drop(columns={
#        'Tech_Establishments_Share'
# })
data_binary_encoded.to_csv('merged_HPI_edu_tech.csv',index=False)
# data_binary_encoded.shape[0]/2

PermissionError: [Errno 13] Permission denied: 'merged_HPI_edu_tech.csv'

In [ ]:
data_binary_encoded.columns

In [23]:
xxx=melted_HPI.loc[(melted_HPI["FIPS"]==51013)&(melted_HPI["variable"]=="HPI_2000_adj")]
print(np.var(xxx))
print(np.std(xxx))
xxx.mean()

Year_x                           1.540000e+02
value                            3.646728e+03
Total_pop                        5.995405e+07
Total_less_HS                    1.685102e+05
Total_HS                         5.359225e+04
Total_some_college               1.513210e+05
Total_Bach                       9.168784e+06
Total_Grad                       2.468102e+07
Total_Settled                    5.842309e+07
Settled_less_HS                  5.112250e+03
Settled_HS                       8.100000e+03
Settled_some_college             4.422250e+05
Settled_Bach                     7.062306e+06
Settled_Grad                     2.009281e+07
Total_Moved                      9.900250e+03
Moved_less_HS                    1.149210e+05
Moved_HS                         2.002225e+04
Moved_some_college               7.617600e+04
Moved_Bach                       1.372702e+05
Moved_Grad                       2.357102e+05
Total_Establishments             0.000000e+00
Total_Employees                  0.000000e+00
Tech_Establishments              0.000000e+00
Tech_Employees                   0.000000e+00
Tech_Establishments_Share        3.081488e-31
Tech_Employees_Share             3.081488e-31
Years_Education_Settled          1.298807e-02
Years_Education_Moved            7.176544e-02
Moved_Ratio                      2.857119e-05
Moved_Settled_Ratio              4.900230e-05
Grad_Bach_Ratio                  8.125190e-04
College_Ratio                    2.080834e-04
Grad_Ratio_Moved                 4.600281e-04
Years_Edu_Moved_Minus_Settled    2.369306e-02
Total_Grad_Ratio                 1.499374e-04
Total_Bach_Ratio                 4.753283e-06
dtype: float64
Year_x                           1.240967e+01
value                            6.038815e+01
Total_pop                        7.743000e+03
Total_less_HS                    4.105000e+02
Total_HS                         2.315000e+02
Total_some_college               3.890000e+02
Total_Bach                       3.028000e+03
Total_Grad                       4.968000e+03
Total_Settled                    7.643500e+03
Settled_less_HS                  7.150000e+01
Settled_HS                       9.000000e+01
Settled_some_college             6.650000e+02
Settled_Bach                     2.657500e+03
Settled_Grad                     4.482500e+03
Total_Moved                      9.950000e+01
Moved_less_HS                    3.390000e+02
Moved_HS                         1.415000e+02
Moved_some_college               2.760000e+02
Moved_Bach                       3.705000e+02
Moved_Grad                       4.855000e+02
Total_Establishments             0.000000e+00
Total_Employees                  0.000000e+00
Tech_Establishments              0.000000e+00
Tech_Employees                   0.000000e+00
Tech_Establishments_Share        5.551115e-16
Tech_Employees_Share             5.551115e-16
Years_Education_Settled          1.139652e-01
Years_Education_Moved            2.678907e-01
Moved_Ratio                      5.345202e-03
Moved_Settled_Ratio              7.000164e-03
Grad_Bach_Ratio                  2.850472e-02
College_Ratio                    1.442510e-02
Grad_Ratio_Moved                 2.144827e-02
Years_Edu_Moved_Minus_Settled    1.539255e-01
Total_Grad_Ratio                 1.224489e-02
Total_Bach_Ratio                 2.180202e-03
dtype: float64

Year_x                             1997.000000
value                               167.857245
Total_pop                        164127.000000
Total_less_HS                     10869.500000
Total_HS                          13950.500000
Total_some_college                19890.000000
Total_Bach                        56616.000000
Total_Grad                        62801.000000
Total_Settled                    143463.500000
Settled_less_HS                   10088.500000
Settled_HS                        12820.000000
Settled_some_college              17529.000000
Settled_Bach                      49012.500000
Settled_Grad                      54013.500000
Total_Moved                       20663.500000
Moved_less_HS                       781.000000
Moved_HS                           1130.500000
Moved_some_college                 2361.000000
Moved_Bach                         7603.500000
Moved_Grad                         8787.500000
Total_Establishments               6344.000000
Total_Employees                  132629.000000
Tech_Establishments                2058.000000
Tech_Employees                    48601.000000
Tech_Establishments_Share             0.324401
Tech_Employees_Share                  0.366443
Years_Education_Settled              17.299490
Years_Education_Moved                17.913971
Moved_Ratio                           0.126152
Moved_Settled_Ratio                   0.144406
Grad_Bach_Ratio                       1.107720
College_Ratio                         0.726908
Grad_Ratio_Moved                      0.425163
Years_Edu_Moved_Minus_Settled         0.614481
Total_Grad_Ratio                      0.382059
Total_Bach_Ratio                      0.344850
dtype: float64

In [ ]:
merged.head()